* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
.navbar {
    z-index: 99;
}
.jumbotron {
    background-image: url("https://raw.githubusercontent.com/AliMustafa16/project-1/main/bg-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 100px 0px;
    z-index: 1;
}
.jumbotron h1 {
    font-size: 3em;
    color: white;
}
.jumbotron h5 {
    color: white;
    font-weight: 500;
}
@media (max-width:768px){
    .w-25 {
        width: 100%;
    }
}
.loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child {
    width: 12px;
    height: 80px;
    background-color: white;
    margin: 0px 6px;
    border-radius: 1px;
    animation: loading_child  1s linear infinite;
}
.child:nth-child(2){
    animation-delay: 0.1s;
}
.child:nth-child(3){
    animation-delay: 0.2s;
}
.child:nth-child(4){
    animation-delay: 0.3s;
}
.child:nth-child(5){
    animation-delay: 0.4s;
}
.child:nth-child(6){
    animation-delay: 0.5s;
}
.child:nth-child(7){
    animation-delay: 0.6s;
}
.child:nth-child(8){
    animation-delay: 0.7s;
}
@keyframes loading_child{
    0%{
        height: 0px;
    }
    50%{
        height: 80px;
    }
    100%{
        height: 0px;
    }
}
